


<div class="row">
  <div class="col-sm-6">
    <h1>Todos</h1>
  </div>

  <div class="col-sm-6 text-right">
    <%= link_to new_todo_path, class: 'btn btn-primary' do %>
      Add New Todo
    <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Description</th>
        <th>Completed at</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @todos.each do |todo| %>
        <%= content_tag :tr, id: dom_id(todo), class: dom_class(todo) do %>
          <td><%= check_box_tag nil, nil, todo.completed_at?, data: {reflex: "click->Example#toggle", id: todo.id} %></td>
          <td><%= todo.description %></td>
          <td><%= todo.completed_at %></td>
          <td><%= link_to 'Show', todo %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
